<li><a href="{{ site.baseurl }}/">Home</a></li>
<li><a href="{{ site.baseurl }}/gallery">Gallery</a></li>
<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
<li><a href="{{ site.baseurl }}{{site.posts.first.url}}">Newest Post</a></li>

